.form {
    font-family: 'Lato', sans-serif;
    width: 1500px;
    height: 1500px;
    line-height: normal;
    text-align: center;
}

.main {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-column-gap: 50px;
    padding: 95px;
    height: 100%;
    box-sizing: border-box;
}

.left-info {
    display: flex;
    flex-flow: column nowrap;
}

.right-info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    box-sizing: border-box;
}

.teacher-face-and-name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.teacher-face {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 10;
    position: relative;
}

.img-container {
    width: 400px;
    height: 400px;
    overflow: hidden;
    align-self: center;
    position: relative;
}

.background-teacher-face {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 5;
}

.teacher-name {
    font-weight: bold;
    font-size: 35px;
    height: 70px;
    margin-top: 55px;
}

.teacher-type {
    font-weight: normal;
    font-size: 30px;
    height: 30px;
    margin-top: 20px;
}


.radial {
    height: 750px;
    margin-top: 50px;
}

.general-numbers {
    display: flex;
    flex-flow: column nowrap;
    padding-top: 50px;
}


.graphs {
    display: flex;
    justify-content: space-around;
}

.helper-div {
    height: 417px
}

.graph-education {
    width: 50%;
}

.education-description {
    font-size: 28px;
    line-height: 30px;
}


.percent-mark-container {
    width: 100%;
    text-align: left;
    margin-bottom: 55px;
}

.mark {
    font-weight: bold;
    font-size: 70px;
}

.mark-percent {
    font-weight: bold;
    font-size: 90px;
}

.mark-percent:after {
    content: '%'
}

.mark-description {
    font-size: 28px;
    line-height: 115%;
}


.respondents {
    display: flex;
    text-align: left;
    justify-content: flex-start;
}
.respondents-count {
    font-weight: bold;
    font-size: 67px;
}

.respondents-count-description {
    font-size: 28px;
}


.semester-and-year {
    text-align: left;
    height: 30px;
    font-size: 30px;
    margin: auto 0 0;
}

