{% extends 'base_.html' %}
{% load static %}

{% block left %}
  <div class="teacher-face-and-name">
    <div class="img-container">
      <img class="background-teacher-face" src="{% static 'pics/cat.jpg' %}" alt="#" />
      <img class="teacher-face" src="{{ teacher_photo }}" alt="teacher's face" onerror="this.style.display='none'">
    </div>
    <h1 class="teacher-name">{{ teacher_name }}</h1>
    <h1 class="teacher-type">{{ teacher_type_text }}</h1>
  </div>

  <div class="general-numbers">

      {% block graphs1 %}
        <div class="percent-mark-container">
          <p class="mark-percent" id="mark-want_to_continue"></p>
          <p class="mark-description">опитаних хочуть, щоб викладач продовжував викладати</p>
        </div>
      {% endblock %}

      {% block graphs2 %}
      {% endblock %}


    {% block graphs3 %}
      <div class="percent-mark-container">
        <p class="mark-percent" id="mark-cheating"></p>
        <p class="mark-description">викладач не ставить бали без знань</p>
      </div>
    {% endblock %}

    <div class="respondents">
      <div>
        {% block respondents %}
          <p class="respondents-count" id="responses"></p>
          <p class="respondents-count-description">кількість опитаних</p>
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}

{% block right %}

  <div class="graphs graph-bars">

    {% block graphs4 %}
      <div class="graph-education">
        <div class="helper-div">
          <canvas id="education-quality"></canvas>
        </div>
        <p class="education-description">Задоволення викладанням дисципліни</p>
      </div>
    {% endblock %}


    <div class="graph-education">
      <div class="helper-div">
        <canvas id="self-rating"></canvas>
      </div>
      <p class="education-description">Самооцінка власних знань після проходження курсу</p>
    </div>

  </div>
{% endblock %}

{% block semestr %}
  2020-2021, ІІ семестр
{% endblock %}