{% extends 'base.html' %}


{% block style %}
  }
  .right-info {
  padding: 0 0 0 30px;
  }

  .helper-div {
  height: 300px;
  }
{% endblock %}


{% block graphs1 %}
  <div class="percent-mark-container">
    <p class="mark-percent" id="mark-want_to_continue"></p>
    <p class="mark-description">опитаних хочуть, щоб викладач продовжував викладати</p>
  </div>
{% endblock %}

{% block graphs2 %}
{% endblock %}

  {% block graphs3 %}
    <div class="percent-mark-container">
      <p class="mark-percent" id="mark-cheating"></p>
      <p class="mark-description">Викладач не ставить бали <br /> без знань</p>
    </div>
  {% endblock %}

{% block graphs4 %}
  <div class="graph-education">
    <div class="helper-div">
      <canvas id="education-quality_l"></canvas>
    </div>
    <p class="education-description">Задоволення викладанням дисципліни (лектор)</p>
  </div>
  <div class="graph-education">
    <div class="helper-div">
      <canvas id="education-quality_p"></canvas>
    </div>
    <p class="education-description">Задоволення викладанням дисципліни (практик)</p>
  </div>
{% endblock %}

