{% extends 'base.html' %}

{% block style %}
  }
  .right-info {
  padding: 0 0 0 30px;
  }

  .radial {
    height: 750px;
    margin-top: 50px;
  }

  .helper-div {
  height: 300px;
  }
{% endblock %}

{% block graphs4 %}
  <div class="graph-education">
    <div class="helper-div">
      <canvas id="education-quality_l"></canvas>
    </div>
    <p class="education-description">Задоволення викладанням дисципліни (лектор)</p>
  </div>
  <div class="graph-education">
    <div class="helper-div">
      <canvas id="education-quality_p"></canvas>
    </div>
    <p class="education-description">Задоволення викладанням дисципліни (практик)</p>
  </div>
{% endblock %}

