body {
    display: flex;
    background: lightcoral;
    font-family: 'Roboto', sans-serif;
    width: 1500px;
    height: 1500px;
    flex-direction: column;
}

.form {
    box-sizing: border-box;
    background-color: var(--background_color);
    font-weight: bold;
    display: grid;
    grid-template-columns: 32% 68%;
    padding: 100px 100px 0px 100px;
    margin: 0;
    width: 1500px;
    height: 1500px;
    overflow: hidden;
    color: var(--font_color);
    line-height: normal;
    text-align: center;
}

.teacher-face-and-name {
    display: flex;
    flex-direction: column;
}

.teacher-face {
    height: auto;
    width: 100%;
}

.img-container {
    width: 390px;
    height: 390px;
    overflow: hidden;
    align-self: center;
}

.teacher-name {
    font-size: 35px;
    height: 70px;
    margin-top: 55px;
}

.teacher-type {
    font-weight: normal;
    font-size: 30px;
    height: 30px;
    margin-top: 20px;
}

.left-info {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.right-info {
    overflow: hidden;
    padding: 0 0 0 50px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.radial {
    height: 758px;
}

.general-numbers {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-flow: column nowrap;
    height: 53.5%;
    padding-top: 30px;
}


.graphs {
    display: flex;
    justify-content: space-around;
}

.graph-education {
    width: 50%;
}


.education-description {
    font-size: 28px;
    line-height: 30px;
    font-weight: normal;
}

.helper-div {
    height: 417px
}

.mark {
    font-size: 70px;
}
.mark-percent {
    font-size: 75px;
}
.mark-percent:after {
    content: '%'
}

.mark-description {
    font-size: 24px;
    font-weight: normal;
    width: 190px;
}



.respondents-count {
    font-size: 40px;
    text-align: left;
}

.respondents-count-description {
    font-size: 24px;
    text-align: left;
    font-weight: normal;
}


.semester-and-year {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100px;
    padding-bottom: 20px;
    font-size: 30px;
    color: var(--font_color);
    background-color: var(--background_color);
}
