.form {
    font-family: 'Lato', sans-serif;
    width: 1500px;
    height: 1500px;
    background-color: var(--background_color);
    color: var(--font_color);
    line-height: normal;
    text-align: center;
}

.main {
    display: grid;
    grid-template-columns: 32% 68%;
    padding: 100px 100px 0px 100px;
}

.right-info {
    padding: 0 0 0 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.teacher-face-and-name {
    display: flex;
    flex-direction: column;
}

.teacher-face {
    height: auto;
    width: 100%;
}

.img-container {
    width: 390px;
    height: 390px;
    overflow: hidden;
    align-self: center;
}

.teacher-name {
    font-weight: bold;
    font-size: 35px;
    height: 70px;
    margin-top: 55px;
}

.teacher-type {
    font-weight: normal;
    font-size: 30px;
    height: 30px;
    margin-top: 20px;
}


.radial {
    height: 758px;
}

.general-numbers {
    display: flex;
    flex-flow: column nowrap;
    padding-top: 30px;
}


.graphs {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;

}

.helper-div {
    height: 417px
}

.graph-education {
    width: 50%;
}

.education-description {
    font-size: 28px;
    line-height: 30px;
}


.mark {
    font-weight: bold;
    font-size: 70px;
}
.mark-percent {
    font-weight: bold;
    font-size: 75px;
}
.mark-percent:after {
    content: '%'
}

.mark-description {
    font-size: 24px;
    width: 190px;
}


.respondents {
    display: flex;
    text-align: left;
    justify-content: flex-start;
    padding-left: 30px;
}
.respondents-count {
    font-weight: bold;
    font-size: 40px;
}

.respondents-count-description {
    font-size: 24px;
}


.semester-and-year {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 70px;
    font-size: 30px;
}
